*{
	margin: 0;
	padding: 0;
}

body{
	font-family: sans-serif;

}

#nav-bar{
	position: sticky;
	top: 0;
	z-index: 10;
}

#menu_link{
	color: white;
}

.navbar{
	/*background: rgb(2,0,36);
    background: -webkit-linear-gradient(left, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    background: -o-linear-gradient(left, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    background: linear-gradient(to right, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
*/

background: rgb(2,161,222);
background: linear-gradient(142deg, rgba(2,161,222,1) 26%, rgba(0,212,255,1) 37%, rgba(2,0,36,1) 37%, rgba(9,9,121,1) 52%);

padding: 0 !important;

}		

.navbar-brand img{
/*	height: 40%; didn't need this bcoz i compressed image's resolution by paint*/
	padding-left: 20px;
}

.navbar-nav li a{
	color: #fff !important;
	font-weight: 600;
	float: right;
	text-align: center;
}

.fa-bars{
	color: #fff;
	font-size: 30px !important;
}

/*----------BANNER SECTION -----------*/

#banner{
	background: rgb(2,161,222);
	background: linear-gradient(to right, 142deg, rgba(2,161,222,1) 26%, rgba(0,212,255,1) 37%, rgba(2,0,36,1) 37%, rgba(9,9,121,1) 52%)
	/*color: #fff;*/
	padding-top: 5%;
}

.promo-title{
	font-size: 40px;
	font-weight: 600;
	margin-top: 100px;
}

.play-btn{
	width: 45px;
	margin: 20px;
}

#banner a{
	color: #fff;
	text-decoration: none;

}

.business-image{
	width: 90%;
	padding-top: 10%;
}

.bottom-img{
	width: 100%;
}

/****************SERVICES*******************/

#services{
	padding: 50px 0px;
}

.services-img{
	width: 60%;
	margin-top: 20px;
}

.services{
	padding: 20px;
}

.services h4{
	padding: 5px;
	margin-top: 25px;
	text-transform: uppercase;
}
.title::before{
	content: '';
	background: #00bbe7;
	height: 5px;
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	transform: translateY(63px);
}

.title::after{
	content: '';
	background: #035182;
	height: 10px;
	width: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	display: block;
	transform: translateY(8px);
}

#services .btn-primary{
	box-shadow: none;
	padding: 8px 25px;
	border: none;
	border-radius: 20px;
	background-image: linear-gradient(to right, 142deg, rgba(2,161,222,1) 26%, rgba(0,212,255,1) 37%, rgba(2,0,36,1) 37%, rgba(9,9,121,1) 52%)
}

/**************ABOUT Us******************/

#about-us{
	background: #f8f9fa;
	padding-bottom: 50px;
	padding-top: 50px;
}

#about-title{
	font-size: 40px;
	font-weight: 600;
	margin-top: 8%;
}

#about-us ul li{
	margin: 10px 0;
}

#about-us ul{
	margin-left: 20px;
}

/*************TESTIMONIALS****************/

#testimonials{
	margin: 100px 0;

}

.testimonials{
	border-left: 4px solid #7b1798;
	margin-top: 50px;
	margin-bottom: 50px;
}

.testimonials img{
	height: 60px;
	width: 80px;
	border-radius: 50%;
	margin: 0 10px;
}

.user-details{
	display: inline-block;
	font-size: 12px;
}

/************* SOCIAL MEDIA**************/
#social-media{
	background: #f8f9fa;
	padding: 100px 0;
}

#social-media p{
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 30px;
}

.social-icons img{
	width: 60px;
	transition: 0.5s;
}

.social-icons a:hover img{
	transform: translateY(-10px);
}

/****************FOOTER*****************/
#footer{
	background-image: linear-gradient(to right, #00c6f6, #050346);
	color: #fff;

}

.footer-img{
	width: 100%;
	
}

.footer-box{
	padding: 20px;
}

.footer-box img{
	width: 120px;
	margin-bottom: 20px;
}

.footer-box .fa{
	margin-right: 8px;
	font-size: 25px;
	height: 40px;
	width: 40px;
	text-align: center;
	padding-top: 7px;
	border-radius: 2px;
	background-image: linear-gradient(to right, #00c6f6, #050346);
}

.footer-box .form-control{
	box-shadow: none !important;
	border: none;
	border-radius: 0;
	margin-top: 25px;
	max-width: 250px;
}

.footer-box .btn-primary{
	box-shadow: none !important;
	border: none;
	border-radius: 0;
	margin-top: 30px;
	background-image: linear-gradient(to right, #00c6f6, #050346);
}

hr{
	background-color: #fff;
}

.copyright{
	margin-bottom: 0;
	padding-bottom: 20px;
	text-align: center;
}